=render "/static_pages/partials/subheader"
/ content begin
#content
  .container
    .pricing-5-col
      / pricing box begin
      .pricing-box
        %ul
          %li.title-row
            %h4 Free
          %li.price-row
            %h1 $0
            %span /month
          %li Quad Core Processor
          %li Hardisk 10GB
          %li Ram 8GB
          %li Admin Area
          %li Unlimited Mail
          %li 24/7 Free Support
          %li.btn-row
            %a.btn.btn-primary{href: ""} Order Now
      / pricing box close
      / pricing box begin
      .pricing-box
        %ul
          %li.title-row
            %h4 Basic
          %li.price-row
            %h1 $29
            %span /month
          %li Quad Core Processor
          %li Hardisk 10GB
          %li Ram 8GB
          %li Admin Area
          %li Unlimited Mail
          %li 24/7 Free Support
          %li.btn-row
            %a.btn.btn-primary{href: ""} Order Now
      / pricing box close
      / pricing box begin
      .pricing-box.pricing-featured
        %ul
          %li.title-row
            %h4 Silver
          %li.price-row
            %h1 $59
            %span /month
          %li Quad Core Processor
          %li Hardisk 10GB
          %li Ram 8GB
          %li Admin Area
          %li Unlimited Mail
          %li 24/7 Free Support
          %li.btn-row
            %a.btn.btn-primary{href: ""} Order Now
      / pricing box close
      / pricing box begin
      .pricing-box
        %ul
          %li.title-row
            %h4 Gold
          %li.price-row
            %h1 $99
            %span /month
          %li Quad Core Processor
          %li Hardisk 10GB
          %li Ram 8GB
          %li Admin Area
          %li Unlimited Mail
          %li 24/7 Free Support
          %li.btn-row
            %a.btn.btn-primary{href: ""} Order Now
      / pricing box close
      / pricing box begin
      .pricing-box
        %ul
          %li.title-row
            %h4 Platinum
          %li.price-row
            %h1 $199
            %span /month
          %li Quad Core Processor
          %li Hardisk 10GB
          %li Ram 8GB
          %li Admin Area
          %li Unlimited Mail
          %li 24/7 Free Support
          %li.btn-row
            %a.btn.btn-primary{href: ""} Order Now
      / pricing box close
      .clearfix
    %hr.blank/
    .pricing-4-col.pricing-dark
      / pricing box begin
      .pricing-box
        %ul
          %li.title-row
            %h4 Basic
          %li.price-row
            %h1 $29
            %span /month
          %li Quad Core Processor
          %li Hardisk 10GB
          %li Ram 8GB
          %li Admin Area
          %li Unlimited Mail
          %li 24/7 Free Support
          %li.btn-row
            %a.btn.btn-primary{href: ""} Order Now
      / pricing box close
      / pricing box begin
      .pricing-box.pricing-featured
        %ul
          %li.title-row
            %h4 Silver
          %li.price-row
            %h1 $59
            %span /month
          %li Quad Core Processor
          %li Hardisk 10GB
          %li Ram 8GB
          %li Admin Area
          %li Unlimited Mail
          %li 24/7 Free Support
          %li.btn-row
            %a.btn.btn-primary{href: ""} Order Now
      / pricing box close
      / pricing box begin
      .pricing-box
        %ul
          %li.title-row
            %h4 Gold
          %li.price-row
            %h1 $99
            %span /month
          %li Quad Core Processor
          %li Hardisk 10GB
          %li Ram 8GB
          %li Admin Area
          %li Unlimited Mail
          %li 24/7 Free Support
          %li.btn-row
            %a.btn.btn-primary{href: ""} Order Now
      / pricing box close
      / pricing box begin
      .pricing-box
        %ul
          %li.title-row
            %h4 Platinum
          %li.price-row
            %h1 $199
            %span /month
          %li Quad Core Processor
          %li Hardisk 10GB
          %li Ram 8GB
          %li Admin Area
          %li Unlimited Mail
          %li 24/7 Free Support
          %li.btn-row
            %a.btn.btn-primary{href: ""} Order Now
      / pricing box close
      .clearfix
    %hr.blank/
    .pricing-3-col
      / pricing box begin
      .pricing-box
        %ul
          %li.title-row
            %h4 Basic
          %li.price-row
            %h1 $29
            %span /month
          %li Quad Core Processor
          %li Hardisk 10GB
          %li Ram 8GB
          %li Admin Area
          %li Unlimited Mail
          %li 24/7 Free Support
          %li.btn-row
            %a.btn.btn-primary{href: ""} Order Now
      / pricing box close
      / pricing box begin
      .pricing-box.pricing-featured
        %ul
          %li.title-row
            %h4 Silver
          %li.price-row
            %h1 $59
            %span /month
          %li Quad Core Processor
          %li Hardisk 10GB
          %li Ram 8GB
          %li Admin Area
          %li Unlimited Mail
          %li 24/7 Free Support
          %li.btn-row
            %a.btn.btn-primary{href: ""} Order Now
      / pricing box close
      / pricing box begin
      .pricing-box
        %ul
          %li.title-row
            %h4 Gold
          %li.price-row
            %h1 $99
            %span /month
          %li Quad Core Processor
          %li Hardisk 10GB
          %li Ram 8GB
          %li Admin Area
          %li Unlimited Mail
          %li 24/7 Free Support
          %li.btn-row
            %a.btn.btn-primary{href: ""} Order Now
      / pricing box close
      .clearfix
/ content close