=render "/static_pages/partials/subheader"
/ content begin
%form{:method=>"POST",:action=>transactions_new_path,:id=>"plan-form"}
  =hidden_field_tag :amount
#content
  .container
    / .pricing-5-col
    /   / pricing box begin
    /   .pricing-box
    /     %ul
    /       %li.title-row
    /         %h4 Free
    /       %li.price-row
    /         %h1 $0
    /         %span /month
    /       %li Quad Core Processor
    /       %li Hardisk 10GB
    /       %li Ram 8GB
    /       %li Admin Area
    /       %li Unlimited Mail
    /       %li 24/7 Free Support
    /       %li.btn-row
    /         %a.btn.btn-primary{href: "javascript:void(0)"} Order Now
    /   / pricing box close
    /   / pricing box begin
    /   .pricing-box
    /     %ul
    /       %li.title-row
    /         %h4 Basic
    /       %li.price-row
    /         %h1 $29
    /         %span /month
    /       %li Quad Core Processor
    /       %li Hardisk 10GB
    /       %li Ram 8GB
    /       %li Admin Area
    /       %li Unlimited Mail
    /       %li 24/7 Free Support
    /       %li.btn-row
    /         %a.btn.btn-primary{href: "javascript:void(0)"} Order Now
    /   / pricing box close
    /   / pricing box begin
    /   .pricing-box.pricing-featured
    /     %ul
    /       %li.title-row
    /         %h4 Silver
    /       %li.price-row
    /         %h1 $59
    /         %span /month
    /       %li Quad Core Processor
    /       %li Hardisk 10GB
    /       %li Ram 8GB
    /       %li Admin Area
    /       %li Unlimited Mail
    /       %li 24/7 Free Support
    /       %li.btn-row
    /         %a.btn.btn-primary{href: "javascript:void(0)"} Order Now
    /   / pricing box close
    /   / pricing box begin
    /   .pricing-box
    /     %ul
    /       %li.title-row
    /         %h4 Gold
    /       %li.price-row
    /         %h1 $99
    /         %span /month
    /       %li Quad Core Processor
    /       %li Hardisk 10GB
    /       %li Ram 8GB
    /       %li Admin Area
    /       %li Unlimited Mail
    /       %li 24/7 Free Support
    /       %li.btn-row
    /         %a.btn.btn-primary{href: "javascript:void(0)"} Order Now
    /   / pricing box close
    /   / pricing box begin
    /   .pricing-box
    /     %ul
    /       %li.title-row
    /         %h4 Platinum
    /       %li.price-row
    /         %h1 $199
    /         %span /month
    /       %li Quad Core Processor
    /       %li Hardisk 10GB
    /       %li Ram 8GB
    /       %li Admin Area
    /       %li Unlimited Mail
    /       %li 24/7 Free Support
    /       %li.btn-row
    /         %a.btn.btn-primary{href: "javascript:void(0)"} Order Now
    /   / pricing box close
    /   .clearfix
    / %hr.blank/
    .pricing-4-col
      / pricing box begin
      .pricing-box
        %ul
          %li.title-row
            %h4=@plans[0].name.capitalize
          %li.price-row
            %h1 
              =number_to_currency(@plans[0].price, :unit => "$")
            / %span /month
          %li Quad Core Processor
          %li Hardisk 10GB
          %li Ram 8GB
          %li Admin Area
          %li Unlimited Mail
          %li 24/7 Free Support
          %li.btn-row
            %a.btn.btn-primary{href: new_user_registration_path('monthly')} Order Now
      / pricing box close
      / pricing box begin
      .pricing-box.pricing-featured
        %ul
          %li.title-row
            %h4=@plans[1].name.capitalize
          %li.price-row
            %h1
              =number_to_currency(@plans[1].price, :unit => "$")
            / %span /month
          %li Quad Core Processor
          %li Hardisk 10GB
          %li Ram 8GB
          %li Admin Area
          %li Unlimited Mail
          %li 24/7 Free Support
          %li.btn-row
            %a.btn.btn-primary{href: new_user_registration_path('quarterly')} Order Now
      / pricing box close
      / pricing box begin
      .pricing-box
        %ul
          %li.title-row
            %h4=@plans[2].name.capitalize
          %li.price-row
            %h1
              =number_to_currency(@plans[2].price, :unit => "$")
            / %span /month
          %li Quad Core Processor
          %li Hardisk 10GB
          %li Ram 8GB
          %li Admin Area
          %li Unlimited Mail
          %li 24/7 Free Support
          %li.btn-row
            %a.btn.btn-primary{href: new_user_registration_path('yearly')} Order Now
      / pricing box close
      / pricing box begin
      .pricing-box
        %ul
          %li.title-row
            %h4=@plans[3].name.capitalize
          %li.price-row
            %h1
              =number_to_currency(@plans[3].price, :unit => "$")
            / %span /month
          %li Quad Core Processor
          %li Hardisk 10GB
          %li Ram 8GB
          %li Admin Area
          %li Unlimited Mail
          %li 24/7 Free Support
          %li.btn-row
            %a.btn.btn-primary{href: new_user_registration_path('lifetime')} Order Now
      .clearfix
      / pricing box close
    / %hr.blank/
    / .pricing-3-col
    /   / pricing box begin
    /   .pricing-box
    /     %ul
    /       %li.title-row
    /         %h4 Basic
    /       %li.price-row
    /         %h1 $29
    /         %span /month
    /       %li Quad Core Processor
    /       %li Hardisk 10GB
    /       %li Ram 8GB
    /       %li Admin Area
    /       %li Unlimited Mail
    /       %li 24/7 Free Support
    /       %li.btn-row
    /         %a.btn.btn-primary{href: "javascript:void(0)"} Order Now
    /   / pricing box close
    /   / pricing box begin
    /   .pricing-box.pricing-featured
    /     %ul
    /       %li.title-row
    /         %h4 Silver
    /       %li.price-row
    /         %h1 $59
    /         %span /month
    /       %li Quad Core Processor
    /       %li Hardisk 10GB
    /       %li Ram 8GB
    /       %li Admin Area
    /       %li Unlimited Mail
    /       %li 24/7 Free Support
    /       %li.btn-row
    /         %a.btn.btn-primary{href: "javascript:void(0)"} Order Now
    /   / pricing box close
    /   / pricing box begin
    /   .pricing-box
    /     %ul
    /       %li.title-row
    /         %h4 Gold
    /       %li.price-row
    /         %h1 $99
    /         %span /month
    /       %li Quad Core Processor
    /       %li Hardisk 10GB
    /       %li Ram 8GB
    /       %li Admin Area
    /       %li Unlimited Mail
    /       %li 24/7 Free Support
    /       %li.btn-row
    /         %a.btn.btn-primary{href: "javascript:void(0)"} Order Now
    / pricing box close
    / .clearfix
/ content close
/ -content_for :javascript do
:javascript
  $('a.btn-primary').click(function(){
    valueTaker = $(this).parents('ul').children('li').eq(1).find('h1').text();
    $("#amount").val(valueTaker);
    $("#plan-form").submit();
  })