.fullwidthbanner-container
  #revolution-slider
    %ul
      / THE FIRST SLIDE
      %li{"data-masterspeed" => "300", "data-slotamount" => "10", "data-thumb" => "/assets/images-slider/thumbs/thumb1.jpg", "data-transition" => "fade"}
        / BACKGROUND IMAGE
        %img{alt: "", src: "/assets/images-slider/wide1.jpg"}/
        / THE CAPTIONS IN THIS SLIDE
        .caption.large_text.sfb{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "800", "data-x" => "300", "data-y" => "207"}
          %img{alt: "", src: "/assets/images-slider/our-features.png"}/
        .tp-caption.sfr{"data-easing" => "easeOutBack", "data-speed" => "300", "data-start" => "1000", "data-x" => "220", "data-y" => "115"}
          %img{alt: "", src: "/assets/images-slider/lu.png"}/
        .tp-caption.sfr{"data-easing" => "easeOutBack", "data-speed" => "300", "data-start" => "1200", "data-x" => "110", "data-y" => "85"}
          %img{alt: "", src: "/assets/images-slider/clean.png"}/
        .tp-caption.sfr{"data-easing" => "easeOutBack", "data-speed" => "300", "data-start" => "1400", "data-x" => "180", "data-y" => "217"}
          %img{alt: "", src: "/assets/images-slider/lm.png"}/
        .tp-caption.sfr{"data-easing" => "easeOutBack", "data-speed" => "300", "data-start" => "1600", "data-x" => "0", "data-y" => "217"}
          %img{alt: "", src: "/assets/images-slider/responsive.png"}/
        .tp-caption.sfr{"data-easing" => "easeOutBack", "data-speed" => "300", "data-start" => "1800", "data-x" => "220", "data-y" => "285"}
          %img{alt: "", src: "/assets/images-slider/lb.png"}/
        .tp-caption.sfr{"data-easing" => "easeOutBack", "data-speed" => "300", "data-start" => "2000", "data-x" => "40", "data-y" => "345"}
          %img{alt: "", src: "/assets/images-slider/bootstrap.png"}/
        .tp-caption.sfl{"data-easing" => "easeOutBack", "data-speed" => "300", "data-start" => "2200", "data-x" => "625", "data-y" => "115"}
          %img{alt: "", src: "/assets/images-slider/ru.png"}/
        .tp-caption.sfl{"data-easing" => "easeOutBack", "data-speed" => "300", "data-start" => "2400", "data-x" => "730", "data-y" => "85"}
          %img{alt: "", src: "/assets/images-slider/solid.png"}/
        .tp-caption.sfl{"data-easing" => "easeOutBack", "data-speed" => "300", "data-start" => "2600", "data-x" => "650", "data-y" => "217"}
          %img{alt: "", src: "/assets/images-slider/rm.png"}/
        .tp-caption.sfl{"data-easing" => "easeOutBack", "data-speed" => "300", "data-start" => "2800", "data-x" => "770", "data-y" => "217"}
          %img{alt: "", src: "/assets/images-slider/lightweight.png"}/
        .tp-caption.sfl{"data-easing" => "easeOutBack", "data-speed" => "300", "data-start" => "3000", "data-x" => "625", "data-y" => "285"}
          %img{alt: "", src: "/assets/images-slider/rb.png"}/
        .tp-caption.sfl{"data-easing" => "easeOutBack", "data-speed" => "300", "data-start" => "3200", "data-x" => "730", "data-y" => "345"}
          %img{alt: "", src: "/assets/images-slider/fresh.png"}/
      %li{"data-masterspeed" => "300", "data-slotamount" => "10", "data-thumb" => "/assets/images-slider/thumbs/thumb1.jpg", "data-transition" => "fade"}
        / BACKGROUND IMAGE
        %img{alt: "", src: "/assets/images-slider/wide3.jpg"}/
        / THE CAPTIONS IN THIS SLIDE
        .tp-caption.sfl{"data-easing" => "easeOutBack", "data-speed" => "300", "data-start" => "300", "data-x" => "-130", "data-y" => "150"}
          %img{alt: "", src: "/assets/images-slider/rb.png"}/
        .tp-caption.med-white.lfl{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "800", "data-x" => "0", "data-y" => "145"}
          Inspira designed for
        .caption.sfb.very-big-white{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "1200", "data-x" => "0", "data-y" => "190"}
          winner
        .tp-caption.small-white.lfr{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "1600", "data-x" => "0", "data-y" => "255"}
          %a.btn.btn-large.btn-primary{href: "#"} Purchase Now
        .tp-caption.lfb{"data-easing" => "easeOutExpo", "data-endeasing" => "fade", "data-speed" => "1000", "data-start" => "2000", "data-x" => "390", "data-y" => "40"}
          %img{alt: "", src: "/assets/images-slider/guy-shadow.png"}/
        .tp-caption.small-white.lft{"data-easing" => "easeOutExpo", "data-speed" => "2000", "data-start" => "2600", "data-x" => "240", "data-y" => "0"}
          %img{alt: "", src: "/assets/images-slider/spotlight.png"}/
        .tp-caption.fade{"data-easing" => "easeOutExpo", "data-speed" => "2000", "data-start" => "2600", "data-x" => "390", "data-y" => "40"}
          %img{alt: "", src: "/assets/images-slider/guy.png"}/
      %li{"data-masterspeed" => "300", "data-slotamount" => "10", "data-thumb" => "/assets/images-slider/thumbs/thumb1.jpg", "data-transition" => "fade"}
        / BACKGROUND IMAGE
        %img{alt: "", src: "/assets/images-slider/wide2.jpg"}/
        / THE CAPTIONS IN THIS SLIDE
        .tp-caption.sfl{"data-easing" => "easeOutBack", "data-speed" => "300", "data-start" => "300", "data-x" => "-130", "data-y" => "100"}
          %img{alt: "", src: "/assets/images-slider/rb.png"}/
        .caption.sfb{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "800", "data-x" => "0", "data-y" => "130"}
          %img{alt: "", src: "/assets/images-slider/inspira.png"}/
        .tp-caption.med-white.sfl{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "1000", "data-x" => "0", "data-y" => "220"}
          Most Complete Template Ever
        .tp-caption.small-white.sfr{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "1200", "data-x" => "0", "data-y" => "260"}
          %a.btn.btn-large.btn-primary{href: "#"} Purchase Now
        .tp-caption.small-white.lfb{"data-easing" => "easeOutExpo", "data-speed" => "1000", "data-start" => "1400", "data-x" => "300", "data-y" => "40"}
          %img{alt: "", src: "/assets/images-slider/slider-10.png"}/