/ mainmenu begin
%ul#mainmenu
  %li
    =link_to "Home", static_pages_home_path
    / %ul
    /   %li
    /     %a{href: "one-page.html"} One Page
    /   %li
    /     %a{href: "index.html"} Home Version 1
    /   %li
    /     %a{href: "home-2.html"} Home Version 2
    /   %li
    /     %a{href: "home-3.html"} Home Version 3
    /   %li
    /     %a{href: "home-4.html"} Home Version 4
    /   %li
    /     %a{href: "home-5.html"} Home Version 5
  %li
    =link_to "Subscribe", static_pages_subscribe_path
  
  %li
    =link_to "Store", products_path
  / %li
  /   =link_to "Cart", static_pages_cart_path
  %li
    =link_to "About", static_pages_about_path
  %li
    =link_to "Blog", static_pages_blog_path
  %li
    =link_to "Contact Us", static_pages_contact_path
/ mainmenu close