/ mainmenu begin
%ul#mainmenu
  %li
    %a{href: "index.html"} Home
    %ul
      %li
        %a{href: "one-page.html"} One Page
      %li
        %a{href: "index.html"} Home Version 1
      %li
        %a{href: "home-2.html"} Home Version 2
      %li
        %a{href: "home-3.html"} Home Version 3
      %li
        %a{href: "home-4.html"} Home Version 4
      %li
        %a{href: "home-5.html"} Home Version 5
  %li
    %a{href: "#"} Features
    %ul
      %li
        %a{href: "carousel.html"} Carousel
      %li
        %a{href: "elements.html"} Elements
      %li
        %a{href: "grid.html"} Grid System
      %li
        %a{href: "icons.html"} Font Awesome Icons
      %li
        %a{href: "parallax.html"} Parallax
      %li
        %a{href: "pricing-table.html"} Pricing Tables
  %li
    %a{href: "#"} Pages
    %ul
      %li
        %a{href: "fullwidth.html"} Fullwidth
      %li
        %a{href: "left-sidebar.html"} Left Sidebar
      %li
        %a{href: "right-sidebar.html"} Right Sidebar
      %li
        %a{href: "services.html"} Services
      %li
        %a{href: "team.html"} Team
      %li
        %a{href: "testimonial.html"} Testimonial
  %li
    %a{href: "#"} Portfolio
    %ul
      %li
        %a{href: "portfolio-4-columns.html"} 4 Columns
      %li
        %a{href: "portfolio-3-columns.html"} 3 Columns
      %li
        %a{href: "portfolio-2-columns.html"} 2 Columns
      %li
        %a{href: "single-project.html"} Single Project
  %li
    %a{href: "blog.html"} Blog
    %ul
      %li
        %a{href: "blog.html"} Full Width
      %li
        %a{href: "blog-right-sidebar.html"} Right Sidebar
      %li
        %a{href: "blog-left-sidebar.html"} Left Sidebar
      %li
        %a{href: "blog-single.html"} Single Post
  %li
    %a{href: "contact.html"} Contact
/ mainmenu close