/ subheader begin
#subheader
  .container
    .row
      .span12
        %h1 
          =@title.capitalize
        %span
          =truncate(@description.capitalize,:length=>50,:omission=>"..")
        %ul.crumb
          %li
            =link_to "Home", static_pages_home_path
          %li.sep /
          %li
            =(@breadcrumb.capitalize).html_safe
/ subheader close