/ top sliding-bar begin
#sliding-bar
  .sliding-content
    .container
      .row
        .span3
          %h4 New Sliding Bar!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .span3
          .widget.widget_recent_post
            %h4 Recent Post
            %ul
              %li
                %a{href: "#"} Sed ut perspiciatis unde omnis
              %li
                %a{href: "#"} Duis aute irure dolor in
              %li
                %a{href: "#"} Excepteur sint occaecat cupidatat
              %li
                %a{href: "#"} Nemo enim ipsam voluptatem quia
        .span3
          .widget.widget_tags
            %h4 Tags
            %ul
              %li
                %a{href: "#link"} Art
              %li
                %a{href: "#link"} Application
              %li
                %a{href: "#link"} Design
              %li
                %a{href: "#link"} Entertainment
              %li
                %a{href: "#link"} Internet
              %li
                %a{href: "#link"} Marketing
              %li
                %a{href: "#link"} Music
              %li
                %a{href: "#link"} Print
              %li
                %a{href: "#link"} Programming
        .span3
          %h4 Contact Us
          .widget.widget-address
            %address
              100 Mainstreet Center, Sydney
              %span
                %strong> Phone:
                (208) 333 9296
              %span
                %strong> Fax:
                (208) 333 9298
              %span
                %strong Email:
                %a{href: "mailto:contact@example.com"} contact@example.com
              %span
                %strong Web:
                %a{href: "#test"} http://example.com
  .sliding-toggle
/ top sliding-bar close