.info
  .container
    .row
      .span6.info-text
        %strong Phone:
        (208) 333 9296
        %span.separator
        %strong Email:
        %a{href: "#"} contact@example.com
        %span{:style=>"margin-left:130px; position:absolute;"}
          -if user_signed_in?
            ="Signed in as #{current_user.email}. Not you?"
            = link_to "Sign out",destroy_user_session_path,method: :delete
          -else
            = link_to "Sign up",new_user_registration_path('plan')
            ||
            = link_to "Sign in", new_user_session_path
      
      .span6.text-right
        .social-icons
          %a.social-icon.sb-icon-facebook{href: "#"}
          %a.social-icon.sb-icon-twitter{href: "#"}
          %a.social-icon.sb-icon-rss{href: "#"}
          %a.social-icon.sb-icon-dribbble{href: "#"}
          %a.social-icon.sb-icon-linkedin{href: "#"}
          %a.social-icon.sb-icon-flickr{href: "#"}
