#order_state_code_wrapper
  -parent_region ||= params[:parent_region]
  -country = Carmen::Country.coded(parent_region) rescue nil
  -if country.nil?
    %em Please select a country above
  -elsif country.subregions?
    = subregion_select(:user, :state, parent_region)
  -else
    = text_field(:user, :state) 